# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/
.pytest_cache/

# Virtual Environments
.venv
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# IDE and Editor files
.vscode/
.idea/

# Configured output and data directories
data/
log/
results/
temp/

# Log files
*.log

# Privarte Paths
model/

# Example specific files
example/log/
example/results/
example/temp/

# Normalize all line endings to LF
* text=auto eol=lf

# Ignore all contents in the example_aspenbkp folder
example/example_aspenbkp/*

# However, do not ignore the .bkp files in the example_aspenbkp folder
!example/example_aspenbkp/*.bkp
